lxml[html_clean]>=4.9.0
motor==3.1.2
pymongo==4.5.0
aiohttp
aioshutil
aiofiles
anitopy
apscheduler
dnspython
feedparser
psutil
pycountry
pyrofork==2.3.45
python-dotenv
tgcrypto
torrentp==0.1.7
uvloop
git+https://github.com/kaif-00z/html-telegraph-poster
